body{
    margin: 0;
    background-color: rgb(34, 35, 36);
    border: 5px solid rgb(17, 17, 17);
}
#content{
    width: 300px;
    height: 350px;
    box-shadow: inset;
}
#logoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5%;
    width: 50%;
    height: 50%;
}
#InfoRegion{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5%;
    
}
.label{
    text-align: center;
    color: white;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#lastanime{
    height: 25px;
    width: 80%;
    background-color: rgba(83, 81, 81, 1);
    text-align: center;
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 6px 5px  rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}
#lasttext{
    vertical-align: middle;
    text-align: center;
    line-height: 1.75;
    font-size: 120%;
}